@mixin full-screen() {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

@mixin card-style() {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 40px;
    padding: 30px;
    position: relative;
    transition: all 0.4s ease;
}

@mixin swiper-card-shadow() {
    -webkit-box-shadow: 1px -1px 5px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 1px -1px 5px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 1px -1px 5px 0px rgba(0, 0, 0, 0.8);
}