// Variables
$primary-font: "Bangers", system-ui;
$secondary-font: "Quicksand", sans-serif;
$color-white: #ffffff;
$color-red: #eee;
$color-orange: #FB9300;
$color-yellow: #f6b55b;  
$color-green: #3F9065;  
$color-gray: #66666A;