@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'variables';
@import 'base';
@import 'mixins';
@import 'layout';




header {
    padding: 10px 0;
    font-family: $primary-font;
    margin: auto;
    height: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    color: $color-red;

    h1 {
        font-size: 26px;
        margin: 0;
    }

    p {
        text-align: right;
        margin: 0;
    }

    nav {
        font-size: 18px;

        a {
            margin-right: 40px;
        }
    }
}

.hero-section {
    min-height: 100vh;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    .treats {
        font-weight: 500;
    }

    .hero-title {
        font-family: $primary-font;
        font-size: 80px;
        line-height: 110%;
    }

    .hero-image {
        width: 100%;
        max-width: 500px;
        position: relative;
    }

    .hero-texas {
        font-weight: 600;
        font-size: 18px;
    }

    .hero-desc {
        margin-top: 15px;
    }

    .row {
        >div {
            padding: 30px;
        }
    }

    .btn-best-seller {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        background-color: $color-orange;
        margin-top: 15px;
        display: inline-block;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba($color-orange, 0.75);

        }
    }
}




.header-container {
    width: 100%;
}

.section {
    margin-top: 150px;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    border: 1px solid $color-orange;
    padding: 25px;
    font-size: 12px;
    border-radius: 50%;
    bottom: 0 !important;
    top: auto;
    transition: all 0.3s ease;
    background-color: rgba($color-orange, 0.05);

    &:after {
        font-size: 25px !important;
        color: #cdcdcd;
        transition: all 0.3s ease;
    }

    &:hover {
        background-color: $color-orange;

        &:after {
            color: $color-white;
        }

        transition: all 0.3s ease;
    }
}

.swiper-navigation-container {
    position: absolute;
    bottom: 0;
    width: 140px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.swiper-wrapper {
    padding-bottom: 80px;
}

.swiper {
    width: 100%;
    margin-top: 38px;
    padding: 10px;
}

.swiper-slide {
    width: 100%;
    height: auto;
}

.swiper-card {
    @include card-style;

    &__img-div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 235px;
    }

    &__img {
        width: 290px;
    }

    &__title {
        font-family: $primary-font;
        font-size: 22px;
        margin-top: 15px;
    }

    &__description {
        margin-top: 13px;
        font-weight: 500;
        color: $color-gray;
    }

    &__price {
        font-family: $primary-font;
        font-size: 24px;
        color: $color-red;
        margin-top: 15px;
    }

    &__overlay {
        position: absolute;
        height: 70%;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #FFF7EA;
        border-radius: 40px;
        z-index: -1;
        transition: all 0.4s ease;
    }

    &:hover {
        @include swiper-card-shadow;
        transition: all 0.4s ease;

        .swiper-card__overlay {
            transition: all 0.4s ease;
            height: 100%;
        }

    }
}

.customer-heading {
    text-align: center;
}

.swiper-slide-customer {
    width: 100%;
    // height: 100%;
}

.swiper-card-2 {
    @include card-style;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-orange;
    background-color: #ffffff;
}

.swiper-card-2__review {
    font-size: 18px;
    font-weight: 600;
    flex: 1;
    color: $color-gray;
}

.swiper-card-2__customer {
    align-items: center;
    display: flex;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: height 1s ease, opacity 1s ease;
}

.swiper-card-2__customer-title {
    font-family: $primary-font;
    font-size: 21px;
}

.swiper-card-2__customer-name {
    font-size: 12px;
    font-weight: 600;
    margin-top: 9px;
}

.swiper-card-2__details {
    flex: 1;
}

.swiper-card-2__customer-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.swiper-card-2__customer-tag {
    font-size: 12px;
    font-weight: 500;
}

.swiper-slide-customer.swiper-slide-active {
    .swiper-card-2 {
        border: none;
        background-color: #FFF7EA;
        @include swiper-card-shadow;
    }

    .swiper-card-2__customer {
        visibility: visible;
        opacity: 1;
        height: auto;
        transition: height 1s ease, opacity 1s ease;
        margin-top: 45px;
    }

    .swiper-card-2__review {
        color: black;
    }
}

.swiper-scrollbar-customer {
    top: 0 !important;
    bottom: unset !important;
    background-color: #fff7ea;
    width: 80% !important;
    max-width: 500px !important;
    margin: 0 auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;

    .swiper-scrollbar-drag {
        background: #fb9300;
    }
}

.swiper-customers-say {
    padding-top: 30px;
}

.customer-say-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -80px;
    left: 0;
    z-index: -1;
}

.customer-say-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.menu-hero {
    height: 185px;
    background-color: #000000;
    color: white;
    text-align: center;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    span {
        margin: 0 10px;
    }
}

.menu-category {
    font-family: $primary-font;
    font-size: 30px;
}

.menu-breadcrumbs {
    font-size: 15px;
    margin-top: 10px;
}

.menu-header-details {
    position: relative;
    z-index: 10;
}

.menu-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.menu-container {
    margin-top: 60px;
}

.menu-filter {
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 13px;
    border: 1px solid rgb(212, 212, 212);
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;

    i {
        margin-right: 3px;
    }
}

.menu__card {
    margin-top: 50px;

    p {
        color: #333338;
        font-weight: 500;
    }

}

.menu__img-div {
    height: 100%;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.menu__desc-div {
    text-align: center;
}

.menu__card-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 25px;
}

.menu__price {
    color: $color-red !important;
    font-family: $primary-font;
    font-size: 24px;
    margin-bottom: 10px;
}

.menu__ingredient {
    margin-bottom: 15px;
}

.menu-filter-lg {
    margin-top: 66px;
}

.menu-accordion-list {
    li {
        a.active {
            color: $color-orange;
        }
    }
}

#offcanvasMenuCategoryLabel {
    font-size: 28px;
}

.menu-category-list {
    a {
        color: black;
        font-weight: 600;
        transition: 0.2s;

        &:hover {
            color: $color-orange;
        }
    }

    ul {
        margin-top: 20px;
    }

    li {
        margin-bottom: 15px;
        list-style-type: none;
    }
}

.offcanvas-header-menu {
    border-bottom: 1px solid rgb(223, 221, 221);
}

.accordion-text {
    font-size: 28px !important;
    color: #000000 !important;
    background-color: transparent !important;
}

.current-menu-item {
    a {
        color: $color-yellow;
    }
}

.menu-accordion-list {
    margin-top: 15px;
    padding: 0;

    a {
        color: black;
        font-weight: 600;
        transition: 0.2s;

        &:hover {
            color: $color-orange;
        }
    }

    ul {
        margin-top: 20px;
    }

    li {
        margin-bottom: 15px;
        list-style-type: none;
    }
}

@media (min-width: 768px) {
    .menu__img-div {
        width: 280px;
        height: 280px;
        flex-shrink: 0;
    }

    .menu__card {
        display: flex;
        gap: 30px;
    }

    .menu__desc-div {
        text-align: left;
    }

    .menu-category {
        font-size: 90px;
    }

    .menu-hero {
        height: 300px;
    }

    .menu__card-title {
        font-size: 32px;
    }

    .menu__ingredient {
        margin-bottom: 20px;
    }

}


@media (min-width: 1024px) {
    .section {
        @include full-screen;
    }

    .customer-say-section {
        margin-top: 200px;
    }

}


@media (min-width: 1200px) {
    .menu-hero {
        height: 400px;
    }
}